<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-urbanairship-windows" version="0.0.1">
    <name>UrbanAirshipWindows</name>
    <description>Cordova UrbanAirship Plugin for Windows</description>
    <license>MIT</license>
    <keywords>cordova,urbanairship, windows</keywords>
    <js-module src="www/UrbanAirshipWindows.js" name="UrbanAirshipWindows">
        <clobbers target="UrbanAirshipWindows" />
    </js-module>
    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/UrbanAirshipWindowsProxy.js" name="UrbanAirshipWindowsProxy">
            <merges target="" />
        </js-module>
        <framework src="src/windows/UrbanAirship.winmd" custom="true"/>
    </platform>
</plugin>
